body {
  background-color: black;
}

.content {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(83, 83, 83);
}

.carrousel {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  height: 600px;
}
.carrousel .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.carrousel .images {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.carrousel .images img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease;
}
.carrousel .images img.selected {
  opacity: 1;
}
.carrousel .infos {
  z-index: 2;
  background-color: rgba(3, 3, 3, 0.6);
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.7);
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.carrousel .infos h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 48px;
  font-weight: 100;
  color: rgb(255, 255, 255);
}
.carrousel .infos span {
  display: block;
  margin-bottom: 35px;
  font-size: 19px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.carrousel .infos .line {
  height: 74px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 195px;
  top: 30px;
}
.carrousel .infos p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.carrousel .infos .explore-button {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  padding: 7px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background 0.2s;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.carrousel .infos .explore-button:hover {
  background-color: rgba(134, 181, 212, 0.2);
}
.carrousel .infos .explore-button:active {
  transform: scale(0.99);
}
.carrousel .fade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: -40%;
  background-image: linear-gradient(to bottom, transparent, black 50%, transparent);
}
.carrousel .fade ul {
  position: relative;
  top: 20px;
  z-index: 4;
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
}
.carrousel .fade ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(83, 83, 83);
  transition: all 0.5s;
}
.carrousel .fade ul li.selected {
  background-color: rgb(255, 255, 255);
}

.menu-icon {
  position: absolute;
  z-index: 12;
  right: 20px;
  top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#menu-ham {
  color: white;
}

.menu {
  width: 55%;
  height: 600px;
  list-style: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  padding-top: 90px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13px;
  box-shadow: -5px 5px 20px 20px rgba(0, 0, 0, 0.3);
  animation: showMenu 0.25s;
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.menu .menu-opt {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu .menu-opt:hover {
  color: #a0a0a0;
}

@keyframes showMenu {
  0% {
    transform: translateX(100%);
  }
}
.shop {
  width: 100%;
  padding-top: 200px;
  background-image: linear-gradient(to bottom, black 10%, rgb(0, 128, 128));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop .designed-by-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shop .designed-by-you h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.shop .designed-by-you h3 {
  background-color: rgb(255, 255, 255);
  width: 60%;
  text-align: center;
  padding: 2px 0;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 128, 128);
}
.shop .designed-by-you p {
  text-align: center;
  width: 82%;
  margin: 20px 0;
  font-size: 17px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.shop .shop-images {
  margin-top: 50px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.shop .shop-images .item {
  position: relative;
  flex-grow: 1;
}
.shop .shop-images .item img {
  width: 100%;
}
.shop .shop-images .item:nth-child(2) {
  position: relative;
  top: 30px;
}
.shop .shop-images .item .dot {
  cursor: pointer;
  position: absolute;
  width: 29px;
  height: 29px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  z-index: 15;
}
.shop .shop-images .item .dot .mid-dot {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 40%;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.shop .shop-images .item .dot:hover {
  background-color: rgba(0, 0, 0, 0.6);
  outline: 2px solid #a0a0a0;
}
.shop .shop-images .item .dot:hover .mid-dot {
  transform: scale(0.92);
}
.shop .shop-images .item .dot:hover ~ .item-info {
  display: flex;
}
.shop .shop-images .item .item-info {
  cursor: pointer;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 10px;
  padding-right: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.164);
  width: -moz-max-content;
  width: max-content;
  gap: 3px;
}
.shop .shop-images .item .item-info:hover {
  display: flex;
}
.shop .shop-images .item .item-info .new {
  font-size: 16px;
  font-weight: 600;
  color: rgb(202, 80, 8);
}
.shop .shop-images .item .item-info .item-name {
  font-size: 17px;
  font-weight: 600;
  color: rgb(83, 83, 83);
}
.shop .shop-images .item .item-info .item-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.shop .shop-images .item .item-info .item-price .dollar {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.shop .shop-images .item .item-info .arrow {
  position: absolute;
  right: 2px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid #b9b9b9;
}
.shop .shop-images .item .item-info .arrow:hover {
  padding: 1px;
}
.shop #dot-1 {
  top: 59px;
  left: 4px;
}
.shop #dot-2 {
  top: 35px;
  left: 19px;
}
.shop #dot-3 {
  top: 65px;
  left: 9px;
}
.shop #item-1 {
  left: 2px;
  top: 80px;
}
.shop #item-2 {
  left: 10px;
  top: 56px;
}
.shop #item-3 {
  left: 2px;
  top: 86px;
}/*# sourceMappingURL=home.css.map */