$white : rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(83, 83, 83);
$dark-blue: rgb(58, 81, 108);
$teal: rgb(0, 128, 128);


@mixin font($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

body{
    background-color: black;
}

.content{
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(83, 83, 83);
}

@import 'carrousel', 'menu', 'shop';